.cover h1 { 
	color: #DFDFDF;
	text-shadow: 
		#253e45 -1px 1px 0,
		#253e45 -2px 2px 0
	 }
.cover h2, .cover h3 {
	color: #666;
	text-shadow: none;
}
.cover h2 span, .cover h3 span {
	text-shadow: 
		rgba(0,0,0,.4) 1px 1px 0,
		rgba(0,0,0,.4) 2px 2px 0;
}

.cover .social-cover-gb {
	position: absolute;
	bottom: 6px;
	right: 12px;
	font-size: 52px;
	color: #000;
}
.cover .social-cover-gb:hover {
	color: #666;
}